@import './themes/public.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--y-bg);
  line-height: 1.6;
  /* font-family:
    'HarmonyOS_Regular',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif; */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
}

/* 全局滚动条美化 */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3390ff;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1976d2;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
