@import './themes/public.css';
@import './base.css';
@import './hm_font.css';
/* @import './components/segmented-menu.css'; */

@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.3s;
  padding: 3px;
}

* {
  transition: 0.3s;
}

.ant-input {
  font-family: var(--y-font) !important;
}
@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 37%, 0.8);
  }
}

@media (max-width: 930px) {
  .container {
    padding: 0 30px !important;
  }
}
@media (max-width: 825px) {
  .container {
    padding: 0 20px !important;
  }
}
